version: '3'

services:

  nodejs:
    #image: auth_backend:0.0.1
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nodejs
    restart: unless-stopped
    env_file: .env
    environment:
      - MONGO_USERNAME=$MONGO_USERNAME
      - MONGO_PASSWORD=$MONGO_PASSWORD
      - MONGO_HOSTNAME=db
      - MONGO_PORT=$MONGO_PORT
      - MONGO_DB=$MONGO_DB
    ports:
      - "8080:8080"
    volumes:
      - .:/home/node/app
      - /home/node/app/node_modules
    networks:
      - app-network
    command: /home/node/app/node_modules/.bin/pm2-runtime start ecosystem.config.js
  db:
    image: mongo
    container_name: db
    restart: unless-stopped
    env_file: .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=$MONGO_USERNAME
      - MONGO_INITDB_ROOT_PASSWORD=$MONGO_PASSWORD
    ports:
      - 27017:27017
    expose:
      - 27017
    volumes:
      - dbdata:/data/db
    networks:
      - app-network

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    env_file: .env
    environment:
    - ME_CONFIG_MONGODB_SERVER=db
    - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
    - ME_CONFIG_MONGODB_ADMINUSERNAME=$MONGO_USERNAME
    - ME_CONFIG_MONGODB_ADMINPASSWORD=$MONGO_PASSWORD
    - ME_CONFIG_BASICAUTH_USERNAME=$MONGO_USERNAME
    - ME_CONFIG_BASICAUTH_PASSWORD=$MONGO_PASSWORD
    volumes:
      - dbdata
    depends_on:
      - db
    networks:
      - app-network
    ports:
      - 8081:8081
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
  node_modules:
